language: java

# This library uses Java 8 features and Travis doesn't (yet) support OpenJDK 8
jdk:
  - oraclejdk8

# Replace Travis's default Maven installation step with a no-op.
# This avoids redundantly pre-running 'mvn install -DskipTests' every time.
install: true

# Decrypt and import the artifact signing certificate before running the build
before_install: |
  # Don't import certs for PR builds - see https://docs.travis-ci.com/user/pull-requests/#Pull-Requests-and-Security-Restrictions
  if [[ "$TRAVIS_PULL_REQUEST" = false ]] && [[ "$TRAVIS_BRANCH" = master || "$TRAVIS_BRANCH" = sql-loader || ! -z "$TRAVIS_TAG" ]]; then
    openssl aes-256-cbc -K $encrypted_c5b9f071c998_key -iv $encrypted_c5b9f071c998_iv -in maven-artifact-signing-key.asc.enc -out maven-artifact-signing-key.asc -d
    gpg --import --batch maven-artifact-signing-key.asc
  fi
  - psql -U postgres -c 'CREATE DATABASE gtfs_lib_test;'
  - psql -U postgres -c "CREATE USER gtfs_test PASSWORD 'gtfs_test';"
  - psql -U postgres -c 'CREATE ROLE gtfs_test_role;'
  - psql -U postgres -c 'GRANT gtfs_test_role TO gtfs_test;'
  - psql -U postgres -c 'GRANT ALL ON DATABASE gtfs_lib_test TO gtfs_test_role;'

# Replace Travis's default build step.
# Run all Maven phases at once up through verify, install, and deploy.
script: |
  # only (attempt to) deploy non-pull request commits to the master branch or on tags
  if [[ "$TRAVIS_PULL_REQUEST" = false ]] && [[ "$TRAVIS_BRANCH" = master || "$TRAVIS_BRANCH" = sql-loader || ! -z "$TRAVIS_TAG" ]]; then
    mvn clean deploy --settings maven-settings.xml
  else
    # otherwise, just run test suite, without signing it
    mvn clean verify --settings maven-settings.xml -B -V -Dgpg.skip
  fi

after_success:
  - bash <(curl -s https://codecov.io/bash)

# Secure envs are OSSRH_JIRA_USERNAME, OSSRH_JIRA_PASSWORD, GPG_KEY_NAME, GPG_PASSPHRASE
env:
  global:
    - secure: "lasYVAXe5RaiZ4UX5mk3rVLIqVxj8Areeyjuv/dr1RFDg/lirOkgYBS926+aY120WN3CpFzsmrRB1t345wYxCu8ZU61XZUSR6eX/2Mo5WuSSIyyEwcjdUtbKUv6DqciQtmwihsv8c/BWNtz7zsMPJSz71LKKGWntg6+LcCn0fAk="
    - secure: "YSmmUvjhv/RbQDgabEYZp+tSZW57gZ16kopUNu6QcVEcJT++PD3HavhkNbDq0onI/vNmEuQPnkdeDIf4WCpZ97pKxlASRTvrbz1Ryf3HpBA3VxAXvFfUXbNDvxpFNUjQ5O3C/HvPS5tjnNAVwe7kuQlJxjddeVGUdf3X4oJ2C7w="
    - secure: "RwoNv0+ejEbtG3wQPjPSa4lhELGomc09R4JdI+VZpCs1M6IBY7m0SwsRmwJQc8Rb4vCwEIZA+tFSVxUlPine/2J00eCPfvQWitERu5z95XT4IB7Wkaos2/mBWJZ/KlzQQDG1ITnaXJKtjemPo+lF5UTc29TiHZfTX7X5bkFjaGg="
    - secure: "EooEVyqAfmo0Yacy/Eysxo00m2Dk+fczNFPQoqO2+WW7yd6el6d7MCDbtkjVO8IwH+JWjCmxtnd9Fe1I+2XawqpevKz8LI0pDp5BpxgnDzZgqsctQGaxmjRj1ksewXNvTAeWVS/ysDegyySkocYxU6A43/MWpoD8ocZZcsQlwPo="

# If sudo is disabled, CI runs on container based infrastructure (allows caching &c.)
sudo: false

# Retain the local Maven repository to speed up builds.
cache:
  directories:
    - "$HOME/.m2/repository"

# Notify us of the build status on the Slack channel     
notifications:
  slack: conveyal:WQxmWiu8PdmujwLw4ziW72Gc

# Push results to codecov.io
after_success:
  - bash <(curl -s https://codecov.io/bash)